//    Font Family

$primary-font: "Open Sans", sans-serif;
$title-font: "Playfair Display", serif;

/*--------------------------- Color variations ----------------------*/

$primary-color: #13113a;
$primary-color2: #fdc136;
$title-color: #13113a;
$text-color: #706f87;

$white: #fff;
$offwhite: #f9f9ff;
$black: #000;
